Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintsfull ! hintslight | hintsmedium | hintsfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb
Xft.dpi: 96

Xcursor.size: 24

! gruvbox-dark

! hard contrast: *background: #1d2021
!*background: #282828
*background: #1c1c1c
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

!! å¢ïÐwï†¢h
!! special
!*.foreground:   #cccccc
!*.background:   #222222
!*.cursorColor:  #cccccc
!! black
!*.color0:       #222222
!*.color8:       #444444
!! red
!*.color1:       #a74437
!*.color9:       #e52902
!! green
!*.color2:       #809611
!*.color10:      #d6d031
!! yellow
!*.color3:       #ee8600
!*.color11:      #877c5f
!! blue
!*.color4:       #9aaa66
!*.color12:      #b8d190
!! magenta
!*.color5:       #77a558
!*.color13:      #6cad2c
!! cyan
!*.color6:       #8bd524
!*.color14:      #a7d603
!! white
!*.color7:       #c2c2ca
!*.color15:      #bdb6a6


URxvt.scrollBar: false
URxvt.internalBorder: 2

URxvt*cursorColor: #d99921
URxvt*cursorBlink: 1

!URxvt*backgroundPixmap: /home/marvin/wallpapers/875.png;style=tiled

URxvt*font: xft:Jet Brains Mono:antialias=true:size=13.2, xft:font awesome:size=13:antialias=true, xft:monaco:size=13:antialias=true, xft:symbola:size=13:antialias=true, xft:saucecodepro nf:size=14:antialias=true
URxvt*boldFont: 
URxvt*italicFont: 
URxvt*bolditalicFont:
